:root {
    --color-primary: #584a99;
    --color-secondary: #efe8f6;
    --color-light: #f7f7f7;
    --color-error: #f75e4b;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    max-width: 1400px;
    margin: auto;
    background-color: var(--color-light);
  }
  h2{
    color: var(--color-primary);
    margin: 30px 40px 50px;
  }
  
  main{
  
    display:flex;
    justify-content: space-between;
    margin: 80px auto;
  
  }
  #products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 40px;
  }
  #products > div{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100,100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 40px;
  
  }
  #products img{
    width: 300px;
    border-radius: 25px;
  
  }
  .information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-secondary);
    margin-top: 25px;
    padding: 25px;
  
    border-radius: 25px;
  }
  .information h3{
    color: var(--color-primary);
    font-size: 1.3rem;
    font-weight: 600;
    margin:5px 0;
  }
  .information div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .information span{
    color: #777474;
     font-weight: 500;
     font-size: 1.1rem;
   }
  
  .information button{
    width: 40px;
    height: 40px;
  background-color: white;
  border: none;
  line-height: 40px;
  font-weight: 600;
  font-size: 2rem; 
  border-radius: 50%;
  cursor:  pointer;
  transition: all 0.3s ease;
  color: var(--color-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 20px;
  
  }
  .information button:hover{
  background-color: var(--color-primary);
  color: white;
  border-radius: 40%;
  }
  

#cart h3{
  background-color: var(--color-primary);
  color: white;
  padding: 15px ;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  
  }
  #cart-list{
    width: 300px;
  }
  #cart-list h5{
    
    display: block;
    font-size: 1.3rem;
    background-color: white;
    color:var(--color-error);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--color-error);
    margin-bottom: 30px;
  }
  #cart-list > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 7px 3px 7px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid var(--color-light);
  }
  
  
  
  
  #cart-list img{
    width: 60px;
   
    border-radius: 50%;
  }
  .cart-information{
    text-align: center;
  }
  .cart-information h4{
    color:var(--color-primary);
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  .cart-information p{
    color: gray;
  }
  #cart-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  #cart-control div{
    display:flex;
    width: 90px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  
  }
  #cart-control div button{
    background-color:var(--color-secondary);
    color:black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in;
  }
  #cart-control div button:hover{
    background-color: var(--color-primary);
    color: white;
  }
  
  #cart-control > button{
    background-color:white;
    border: 1px solid var(--color-error);
    padding: 5px;
    width: 100%;
    margin-bottom: 3px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-error);
    transition: all 0.4s ease;
  }
  #cart-control > button:hover{
    background-color: var(--color-error);
    color:white;
  }